{% extends "pages/base.html" %}
{% load static %}

<!--<!DOCTYPE html>
<html class="no-js" lang="en">-->
{% block header %}
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <!--{% block title %}
    About - Philosophy
    {% endblock %}-->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

{% endblock %}

{% block content %}
<div id="top" >
    



    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header">
            <div class="header__content row">

                <!--<div class="header__logo">
                    <a class="logo" href="index.html">
                        <img src="{% static 'images/logo.svg' %}" alt="Homepage"/>
                    </a>
                </div> <!end header__logo --> 

                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>  <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li><a href="{% url 'home' %}" title="">Home</a></li>
                        <!--
                        <li class="has-children">
                            <a href="#0" title="">Categories</a>
                            <ul class="sub-menu">
                            <li><a href="{% url 'category' %}">Lifestyle</a></li>
                            <li><a href="{% url 'category' %}">Health</a></li>
                            <li><a href="{% url 'category' %}">Family</a></li>
                            <li><a href="{% url 'category' %}">Management</a></li>
                            <li><a href="{% url 'category' %}">Travel</a></li>
                            <li><a href="{% url 'category' %}">Work</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#0" title="">Blog</a>
                            <ul class="sub-menu">
                            <li><a href="{% url 'video' %}">Video Post</a></li>
                            <li><a href="{% url 'audio' %}">Audio Post</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery Post</a></li>
                            <li><a href="{% url 'standard' %}">Standard Post</a></li>
                            </ul>
                        </li>-->
                        <!--<li><a href="{% url 'guide' %}" title="">Styles</a></li>-->
                        <li class="current"><a href="{% url 'about' %}" title="">About</a></li>
                        <!--<li><a href="{% url 'contact' %}" title="">Contact</a></li>-->
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->

    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->


<!DOCTYPE html>
<html lang="en">
<head>
<title>Book your move online :: </title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="online Booking Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->

<!-- css files -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/wickedpicker.css' %}" rel="stylesheet" type='text/css' media="all" />
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
<!-- //css files -->

<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i" rel="stylesheet">
<!--//online-fonts -->
</head>
<body>
<div class="header">
    <h2>Book your move online</h2>
</div>

<div class="w3-main">
    <!-- Main -->
    <div class="about-bottom">
        <div class="w3l_about_bottom_right two">
            <h2 class="tittle"><img src="images/cab.png" alt=""><span>Book your move online</span></h2>
            <div class="book-form">

                <form action="/bookinghandler/" method="POST">
                    <div class="form-date-w3-agileits">
                        <div class="form-agileits">
                            <label> Name :</label>
                        </div>
                        <div class="form-agileits-2">
                            <input type="text" name="name" placeholder="Your Name" required="">
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="form-date-w3-agileits second-agile">
                        <div class="form-agileits">
                            <label> Phone Number :</label>
                        </div>
                        <div class="form-agileits-2">
                            <input type="text" name="phone" placeholder="Your Phone Number" required="">
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="form-date-w3-agileits">
                        <div class="form-agileits">
                            <label> Pickup Location :</label>
                        </div>
                        <div class="form-agileits-2">
                            <input type="text" name="pickup" placeholder="Enter an origin location" required="">
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="form-date-w3-agileits">
                        <div class="form-agileits">
                            <label> Drop Location :</label>
                        </div>
                        <div class="form-agileits-2">
                            <input type="text" name="drop" placeholder="Enter a destination location" required="">
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="form-date-w3-agileits">
                        <div class="form-agileits">
                            <label>Pickup Date :</label>
                        </div>
                        <div class="form-agileits-2">
                            <input  id="datepicker" name="date" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
                        </div>  
                        <div class="clear"> </div>                      
                    </div>
                    <div class="form-date-w3-agileits">
                        <div class="form-agileits">
                            <label>Pickup Time :</label>
                        </div>
                        <div class="form-agileits-2">
                            <input type="text" id="timepicker" name="time" class="timepicker form-control" value="Hrs:Min"> 
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="make">
                          <input type="submit" value="Book ">
                    </div>
                </form>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
</div>
<!-- //Main -->

<!-- footer -->
<div class="footer-w3l">
    <p> Book it yourself .save 45% on your moving costs</p>
</div>
<!-- //footer -->

    <!-- js-scripts-->
        <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
        
        <!-- Time -->
        <script type="text/javascript" src="js/wickedpicker.js"></script>
            <script type="text/javascript">
                $('.timepicker').wickedpicker({twentyFour: false});
            </script>
        <!-- //Time -->
        
            <!-- Calendar -->
                <script src="js/jquery-ui.js"></script>
                  <script>
                          $(function() {
                            $( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
                          });
                  </script>
            <!-- //Calendar -->
    <!-- //js-scripts-->
    
</body>
</html>

    <!-- s-extra
    ================================================== -->
  


    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                <div class="col-two md-four mob-full s-footer__sitelinks">
                        
                    <h4>Quick Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Home</a></li>
                        <li><a href="#0">Blog</a></li>
                        <li><a href="#0">Styles</a></li>
                        <li><a href="#0">About</a></li>
                        <li><a href="#0">Contact</a></li>
                        <li><a href="#0">Privacy Policy</a></li>
                    </ul>

                </div> <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">
                        
                    <h4>Archives</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">January 2018</a></li>
                        <li><a href="#0">December 2017</a></li>
                        <li><a href="#0">November 2017</a></li>
                        <li><a href="#0">October 2017</a></li>
                        <li><a href="#0">September 2017</a></li>
                        <li><a href="#0">August 2017</a></li>
                    </ul>

                </div> <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">
                        
                    <h4>Social</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Facebook</a></li>
                        <li><a href="#0">Instagram</a></li>
                        <li><a href="#0">Twitter</a></li>
                        <li><a href="#0">Pinterest</a></li>
                        <li><a href="#0">Google+</a></li>
                        <li><a href="#0">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

                <!--<div class="col-five md-full end s-footer__subscribe">
                        
                    <h4>Our Newsletter</h4>

                    <p>Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et enim exercitationem ipsam. Culpa consequatur occaecati.</p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                
                            <input type="submit" name="subscribe" value="Send">
                
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright Philosoph 2018</span> 
                        <!--<span>Site Template by <a href="https://colorlib.com/">Colorlib</a></span>-->
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


    <!-- preloader
    ================================================== -->
 <!--    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div> -->


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</div>
{% endblock %}
</html>