{% extends "pages/base.html" %}
{% load staticfiles %}

{% block header %}

    <!--- basic page needs
    ================================================= -->
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" >
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

   
    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">


     <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>


{% endblock %}

{% block content %}
<div id="top">
    




    <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

        <header class="header">
            <div class="header__content row">

                <!--<div class="header__logo">
                    <a class="logo" href="{%url 'home' %}">
                        <img src=" {% static 'images/logo.svg'%}" alt="Homepage">
                    </a>
                </div> <! end header__logo -->

                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>  <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li class="current"><a href="/" title="">Home</a></li>
                        <li class="has-children">
                            <a href="#0" title="">Categories</a>
                            <ul class="sub-menu">
                            <li><a href="{% url 'category' %}">Local Moving </a></li>
                            <li><a href="{% url 'category' %}">Long Distance Moving</a></li>
                            <li><a href="{% url 'category' %}">International moving</a></li>
                            <li><a href="{% url 'category' %}">Moving Truck Retail</a></li>
                            <li><a href="{% url 'category' %}">Moving Insurance</a></li>
                            <li><a href="{% url 'category' %}">Storage</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#0" title="">Blog</a>
                            <ul class="sub-menu">
                            <li><a href="{% url 'video' %}">Video Post</a></li>
                            <li><a href="{% url 'audio' %}">Audio Post</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery Post</a></li>
                            <li><a href="{% url 'standard' %}">Standard Post</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'guide' %}" title="">Styles</a></li>
                        <li><a href="{% url 'about' %}" title="">About</a></li>
                        <li><a href="{% url 'contact' %}" title="">Contact</a></li>
                        <li><a href="{% url 'login' %}" title="">Login</a></li>
                        <li><a href="{% url 'signup' %}" title="">Sign Up</a></li>
                        <li><a href="{% url 'mapping' %}" title="">Mapping</a></li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->


        <div class="pageheader-content row">
            <div class="col-full">

                <div class="featured">

                    <div class="featured__column featured__column--big">
                        <div class="entry" style="background-image:url('{% static 'images/thumbs/featured/images.png' %}');">
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">Movers</a></span>

                                <h1><a href="#0" title="">You deserve the best <a></h1>

                                <!--<div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{% static 'images/avatars/user-03.jpg' %}" alt="">
                                    </a>

                                    <!-<ul class="entry__meta">
                                        <li><a href="#0">John Doe</a></li>
                                        <li>December 29, 2017</li>
                                    </ul>-
                                </div> -->
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->
                    </div> <!-- end featured__big -->

                    <div class="featured__column featured__column--small">

                        <div class="entry" style="background-image:url('{% static 'images/thumbs/featured/featured-watch.jpg' %}');">
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">Management</a></span>

                                <h1><a href="#0" title="">Save on your time which will save your money</a></h1>

                                <!--<div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{%static 'images/avatars/user-03.jpg' %}" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">John Doe</a></li>
                                        <li>December 27, 2017</li>
                                    </ul>
                                </div>-->
                            </div> <!-- end entry__content -->
                          
                        </div> <!-- end entry -->

                        <div class="entry" style="background-image:url('{% static 'images/thumbs/featured/featured-beetle.jpg' %}');">

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">Ready</a></span>

                                <h1><a href="#0" title="">Get moving</a></h1>

                                <!--<div class="entry__info">
                                    <!-<a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{% static 'images/avatars/user-03.jpg' %}" alt="">
                                    </a>-

                                    <ul class="entry__meta">
                                        <li><a href="#0">John Doe</a></li>
                                        <li>December 21, 2017</li>
                                    </ul>
                                </div> -->
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__small -->
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div> <!-- end pageheader-content row -->

    </section> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content">
        
        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="grid-sizer"></div>

                <article class="masonry__brick entry format-standard" data-aos="fade-up">
                        
                   <!-- <div class="entry__thumb">
                        <a href="{% url 'standard' %}" class="entry__thumb-link">
                            <img src="{% static 'images/thumbs/masonry/lamp-400.jpg'%}" 
                                    srcset="{% static 'images/thumbs/masonry/lamp-400.jpg' %},
                                            {% static 'images/thumbs/masonry/lamp-800.jpg' %}" 
                                            sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                        </a>
                    </div>-->
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'standard' %}"><b style="font-size: 20px;">1st step</b></a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'standard' %}">PLAN</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                               Tell us when, where and what you're moving and make changes anytime! The price only changes if you add or remove items or services or if you change your move date.
                            </p>
                        </div>
                        <!--<div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'category' %}">Design</a> 
                                <a href="{% url 'category' %}">Photography</a>
                            </span>
                        </div>-->
                    </div>
    
                </article> <!-- end article -->

                <article class="masonry__brick entry format-quote" data-aos="fade-up">
                        
                    <div class="entry__thumb">
                        <blockquote>
                                <p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p>
    
                                <cite>Dieter Rams</cite>
                        </blockquote>
                    </div>   
    
                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">
                        
                   <!-- <div class="entry__thumb">
                        <a href="{% url 'standard' %}" class="entry__thumb-link">
                            <img src="{% static 'images/thumbs/masonry/tulips-400.jpg' %}" 
                                    srcset="{% static 'images/thumbs/masonry/tulips-400.jpg' %}, {% static 'images/thumbs/masonry/tulips-800.jpg' %}" alt="">
                        </a>
                    </div>-->
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'standard' %}"><b style="font-size: 20px;">2nd Step</b></a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'standard' %}">COMPARE</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                See exact prices and real user reviews, then choose a top notch mover. Not ready to commit? Save your Move Plan for later.
                            </p>
                        
                    </div>
    
                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                   <!-- <div class="entry__thumb">
                        <a href="{% url 'standard' %}" class="entry__thumb-link">
                            <img src="{%static 'images/thumbs/masonry/cookies-400.jpg'%}" 
                                    srcset="images/thumbs/masonry/cookies-400.jpg 1x, images/thumbs/masonry/cookies-800.jpg 2x" alt="">
                        </a>
                    </div>-->
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'standard' %}"><b style="font-size: 20px;">3rd Step</b></a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'standard' %}">BOOK</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Select a mover, enter your billing details, and voilà! Your move is reserved. Don’t worry! We'll only charge your credit card 2 business days before your move....
                            </p>
                        </div>
                       
                    </div>
    
                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <!--<div class="entry__thumb">
                        <a href="{%url 'standard' %}" class="entry__thumb-link">
                            <img src="{% static 'images/thumbs/masonry/wheel-400.jpg'%}" 
                                    srcset="{% static 'images/thumbs/masonry/wheel-400.jpg' %},
                                            {% static 'images/thumbs/masonry/wheel-800.jpg' %} alt="">
                        </a>
                    </div>-->
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'standard' %}"><b style="font-size: 20px;">4th Step</b></a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'standard' %}">MOVE.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                And...that's it! Have a great move. You can access your move details anytime and we are always here to help.
                            </p>
                        </div>
                        
                    </div>
    
                </article> <!-- end article -->
                <!--

                <article class="masonry__brick entry format-video" data-aos="fade-up">
                        
                    <div class="entry__thumb video-image">
                        <a href="https://player.vimeo.com/video/117310401?color=01aef0&title=0&byline=0&portrait=0" data-lity>
                            <img src="{% static 'images/thumbs/masonry/shutterbug-400.jpg'%}" 
                                    srcset="images/thumbs/masonry/shutterbug-400.jpg 1x, images/thumbs/masonry/shutterbug-800.jpg 2x" alt="">
                        </a>
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'video' %}">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'video' %}">Key Benefits Of Family Photography.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'category' %}">Family</a> 
                                <a href="{% url 'category' %}">Photography</a>
                            </span>
                        </div>
                    </div>
    
                </article> <!-end article -


                <article class="masonry__brick entry format-gallery" data-aos="fade-up">
                        
                    <div class="entry__thumb slider">
                        <div class="slider__slides">
                            <div class="slider__slide">
                                <img src="{% static 'images/thumbs/masonry/gallery/gallery-1-400.jpg'%}" 
                                        srcset="images/thumbs/masonry/gallery/gallery-1-400.jpg 1x, images/thumbs/masonry/gallery/gallery-1-800.jpg 2x" alt=""> 
                            </div>
                            <div class="slider__slide">
                                <img src="{% static 'images/thumbs/masonry/gallery/gallery-2-400.jpg' %}" 
                                        srcset="images/thumbs/masonry/gallery/gallery-2-400.jpg 1x, images/thumbs/masonry/gallery/gallery-2-800.jpg 2x" alt=""> 
                            </div>
                            <div class="slider__slide">
                                <img src="{% static 'images/thumbs/masonry/gallery/gallery-3-400.jpg'%}" 
                                        srcset="{% static 'images/thumbs/masonry/gallery/gallery-3-400.jpg 1x' %}, images/thumbs/masonry/gallery/gallery-3-800.jpg 2x" alt="">  
                            </div>
                        </div>
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{%url 'gallery' %}">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'gallery' %}">Workspace Design Trends and Ideas.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'category' %}">Work</a> 
                                <a href="{% url 'category' %}">Management</a>
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -

                <article class="masonry__brick entry format-audio" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="{% url 'audio' %}" class="entry__thumb-link">
                            <img src="{% static 'images/thumbs/masonry/guitarman-400.jpg'%}" 
                                    srcset="images/thumbs/masonry/guitarman-400.jpg 1x, images/thumbs/masonry/guitarman-800.jpg 2x" alt="">
                        </a>
                        <div class="audio-wrap">
                            <audio id="player" src="{% static 'media/AirReview-Landmarks-02-ChasingCorporate.mp3' %}" width="100%" height="42" controls="controls"></audio>
                        </div>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'audio'%}">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'audio'%}">What Your Music Preference Says About You and Your Personality.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'category' %}">Music</a> 
                                <a href="{%url 'category' %}">Lifestyle</a>
                            </span>
                        </div>
                    </div>

                </article> <!- end article -->

                <article class="masonry__brick entry format-link" data-aos="fade-up">
                    
                    <div class="entry__thumb">
                        <div class="link-wrap">
                            <p>The Only Resource You Will Need To Start a Blog Using WordPress.</p>
                            <cite>
                                <a target="_blank" href="https://colorlib.com/">https://colorlib.com</a>
                            </cite>
                        </div>
                    </div>
                    
                </article> <!-- end article -

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="{% url 'standard' %}" class="entry__thumb-link">
                            <img src="{%static 'images/thumbs/masonry/jump-400.jpg' %}" 
                                    srcset="{% static 'images/thumbs/masonry/jump-400.jpg 1x'%}, {%static 'images/thumbs/masonry/jump-800.jpg 2x' %}" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'standard' %}">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'standard' %}">Create Meaningful Family Moments.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'category'%}">Family</a>
                                <a href="{% url 'category'%}">Relationship</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article --

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="{% url 'standard' %}" class="entry__thumb-link">
                            <img src="{% static 'images/thumbs/masonry/beetle-400.jpg'%}" 
                                    srcset="{% static 'images/thumbs/masonry/beetle-400.jpg 1x' %}, {% static 'images/thumbs/masonry/beetle-800.jpg 2x' %}" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'standard' %}">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'standard' %}">Throwback To The Good Old Days.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'category' %}">Lifestyle</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article --

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="{% url 'standard' %}" class="entry__thumb-link">
                            <img src="{% static 'images/thumbs/masonry/fuji-400.jpg' %}" 
                                    srcset="{% static 'images/thumbs/masonry/fuji-400.jpg 1x' %}, {% static 'images/thumbs/masonry/fuji-800.jpg 2x' %}" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'standard' %}">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'standard' %}">Just Another  Standard Format Post.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'category' %}">Design</a> 
                                <a href="{% url 'category' %}">Photography</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article --

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="{% url 'standard' %}" class="entry__thumb-link">
                            <img src="{% static 'images/thumbs/masonry/sydney-400.jpg' %}" 
                                    srcset="{% static 'images/thumbs/masonry/sydney-400.jpg 1x'%}, {% static 'images/thumbs/masonry/sydney-800.jpg 2x' %}" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'standard' %}">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'standard' %}">Planning Your First Trip to Sydney.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'category' %}">Travel</a> 
                                <a href="{% url 'category' %}">Vacation</a>
                            </span>
                        </div>
                    </div>

                </article>  end article -->

            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

        <!--<div class="row">
            <div class="col-full">
                <nav class="pgn">
                    <ul>
                        <li><a class="pgn__prev" href="#0">Prev</a></li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li><a class="pgn__next" href="#0">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>-->

    </section> <!-- s-content -->




    


    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">
    <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span style="align-self: center;">© Copyright Packers and Movers Facilitation 2018</span> 
                        <span>All Rights Reserved</span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->


     

    </footer> <!-- end s-footer -->



    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</div>
{% endblock %}
</html>